.container-fluid {
    background-image:  url("..css/image/jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px
  }

.form {
    background-color:purple;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

label, form p {
    color:white;
    padding-top: 20px;
    padding-right: 12px;
    font-family: monospace;
    font-weight: 400;
}

.great {
    margin-right: 30px;
padding-left: 12px;
}

.nice, .pro {
    margin-right: 12px;
}

.form div {
    padding-bottom: 20px;
}

button:hover {
    background-color: lightseagreen;
    color: white;
}
.jumbotron {
  color: red;
  background-color:black;
}
p {
  text-align: center;
}
p1 {
  color: white;
}

.akan {
  color: blue;
  font-size: 40px;
}
