.container-fluid {
    background-image:  url("/..image/jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px}

.form {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

label, form p {
    color:white;
}

.great {
    margin-right: 30px;
}

.nice, .pro {
    margin-right: 12px;
}

.form div {
    padding-bottom: 20px;
}

button:hover {
    background-color: lightseagreen;
    color: white;
}
.jumbotron {
  color: red;
  background-image: url("/..image/jumbotron.png");
}
p {
  text-align: center;
}
p1 {
  color: white;
}
.great {
  text-align: center;
}
