.container-fluid {
    background-image:  url("../image/ghana.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 18px
  }

.form {
    background-color:gray;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-family: sans-serif;
    font-style: oblique;
    font-display: block;
}

label, form p {
    color:white;
    padding-top: 20px;
    padding-right: 12px;
    font-family: sans-serif;
    font-weight: 400;
}

.great {
    margin-right: 30px;
padding-left: 12px;

}

.nice, .pro {
    margin-right: 12px;

}

.form div {
    padding-bottom: 20px;
}

button:hover {
    background-color: lightseagreen;
    color: white;

}
/* .parent{
  margin-top: 10px;
  margin-bottom: 0;
  height: 670px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: #626f92;
  box-shadow: 1px 0px 2px #ffffff;
} */
p {
  text-align: center;
  color: white;
  font-style: oblique;
  font-family: monospace;
  font-weight: bold;
}
p1 {
  color: white;
}
h1 {
  color: blue;
  font-size: 40px;
}
.left{
  background-image:
  background-size: center;
  height: 670px;
  border-radius: 10px 0 0 10px;
  margin: 0;
}
.col-md-5 {
  float: right;

}.col-md-7{
  float: left;
background-image: url("../images/ghana.jpeg");
}

body{
  text-align: center;
  background-color:
}
